<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome to the results of your sum</h1>
    <p>the value after addition of <%= num1 %> and <%= num2 %> is <%= result %></p>
</body>
</html>